context-free start-symbols
  
    Start

templates

	Start.Module = 
		<
		module <ID>
		
		  <Type*; separator="\n\n">
		>
	
	Type.Entity = 
		<
		entity <ID> {
			<Property*; separator=",">
		}
		>
	
	Type.DataType = <datatype <ID>>
	
	Property.Attribute = <attr <ID> : <ID>>
	Property.Reference = <ref <ID> : <ID>>
	
  lexical syntax
  
    [a-zA-Z][a-zA-Z0-9]* -> ID
    "-"? [0-9]+          -> INT
    
  lexical restrictions
    INT           -/- [0-9]
    ID            -/- [a-zA-Z0-9\_]